<div style="margin-right: 20px; width: 200px;">
    <table class="table table-striped table-bordered">
      <tr class="info">
        <td>
        <%= link_to customer_my_supplement_path(supplement.customer_id, supplement.id), data: {"turbolinks" => false} do %>
        <%= supplement.name %>
        <% end %>
        </td>
      </tr>
      <tr>
        <td><%= supplement.brand %></td>
      </tr>
    </table>
</div>