<div class="container" style="min-height: 500px;">
  <div class="row" style="margin: 50px 0px;">
    <div class="col-xs-7">
      <h1>マイサプリメント</h1>
      <h3>新規登録</h3>
      <%= form_with(model: @my_supplement, local: true, url: customer_my_supplements_path) do |f| %>
          <%= render "form", f:f %>
      <% end %>
    </div>

    <div class="col-xs-offset-1 col-xs-4" style="border: 2px solid #eee; background-color: #eeeaec;">
      <div class="customer-profile" style="width:50%; margin: 70px auto; ">
      <div class="profile-image" style="width: 40%; margin: 20px auto;">
      <%= render "customers/customer_form", customer: @customer %>
    </div>
  </div>
</div>