<div class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8" style="margin-top: 30px;">
      <h1>今日のトレーニング</h1>
      <p><strong><%= @event.count %>件</strong></p>
    </div>
  </div>
</div>