<div class="container" style="min-height: 500px;">
  <div class="row" style="text-align: center;">
    <h1 class="page-header">トレーニング作成</h1>
    <div class="col-xs-offset-2 col-xs-8">
      <%= render "error_message", event: @event %>
      <%= render 'form', event: @event %>
    </div>
  </div>
</div>