<div class="container-fruid">
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-offset-1 col-xs-5 customer-show">
      <h1 class="page-header">ユーザー詳細</h1>
      <span class="calendar-title">筋トレ一覧</span>
      <div id="calendar"></div>
    </div>
    <div class="col-xs-offset-1 col-xs-4" style="border: 2px solid #eee; background-color: #eeeaec; margin-top: 100px;">
      <div class="customer-profile" style="width:60%; margin: 70px auto; ">
      <div class="profile-image" style="width: 40%; margin: 20px auto;">
      <%= render "customers/customer_form", customer: @customer %>
    </div>
  </div>
</div>

  </div>

<script>
    // カレンダーを表示させる記述
$(function () {

          function eventCalendar() {
              return $('#calendar').fullCalendar({});
          };
          function clearCalendar() {
              $('#calendar').html('');
          };
          $(document).on('turbolinks:load', function () {
          eventCalendar();
          });
          $(document).on('turbolinks:before-cache', clearCalendar);

          $('#calendar').fullCalendar({
              events: '/customers/<%= @customer.id %>',
              //カレンダー上部を年月で表示させる
              titleFormat: 'YYYY年 M月',
              //曜日を日本語表示
              dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
              buttonText: {
                  prev: '前月',
                  next: '次月',
                  prevYear: '前年',
                  nextYear: '翌年',
                  today: '今日',
                  month: '月',
                  week: '週',
                  day: '日'
              },
              timeFormat: "HH:mm",
                //イベントの色を変える
              eventColor:'#63ceef',
              //イベントの文字色を変える
              eventTextColor: '#000000',
          });
});

</script>