<div class="container-fruid">
  <div class="row muscle-main">
    <div class="col-xs-offset-1 col-xs-10" style="height: 100%">
    <p style="font-size: 70px; line-height: 2; margin: 110px 0;"><strong>Your Muscle is<br> Flexible.</strong></p>
    </div>
  </div>

<!-- <div class="container"> -->
  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-5">
      <img src="assets/time-management.svg" alt="" width="80%" height="80%">
    </div>
    <div class="col-xs-5">
      <h2 class="about-title">トレーニングメニューを<br>アプリで保存</h2>
      <p>自分流のトレーニングメニューを<br>手軽に管理できます。</p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-5">
      <h2 class="about-title">日々の筋肉の成長度を<br>データで見える化</h2>
      <p>日々の筋トレの成果をデータ化し、成長を実感することができます。</p>
    </div>
    <div class="col-xs-5">
      <img src="assets/data.svg" alt="" width="80%" height="80%">
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="row about-content">
    <div class="col-xs-offset-1 col-xs-5">
      <img src="assets/friend.svg" alt="" width="80%" height="80%">
    </div>
    <div class="col-xs-5">
      <h2 class="about-title">筋トレ仲間と切磋琢磨</h2>
      <p>あなたは一人じゃありません。全国には多くの筋トレ仲間がいます。</p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  </div>
  <a id="link" class="anchor"></a>
  <div class="row start-content">
    <h2>はじめ方</h2>
    <div class="col-xs-offset-2 col-xs-8 start-item">
      <div class="start-box">
        <h3>STEP1</h3>
        <p>あなたの筋トレの成果をアプリが一括管理。</p>
        <img src="assets/fitness-management.svg" alt="" width="50%" height="50%">
      </div>
      <div class="start-box">
        <h3>STEP2</h3>
        <p>データを見ることで、フィードバック</p>
        <img src="assets/graph.svg" alt="" width="50%" height="50%">
      </div>
      <div class="start-box">
        <h3>STEP3</h3>
        <p>日々筋トレを仲間にシェア。</p>
        <img src="assets/share.svg" alt="" width="50%" height="50%">
      </div>
    </div>
  </div>
</div>
<!-- </div> -->