<div style="margin-right: 20px; width: 200px;">
    <table class="table table-striped table-bordered">
      <tr class="info">
        <th>
          <%= link_to admin_event_template_path(menu) do %>
          <%= menu.theme %>
          <% end %>
        </th>
      </tr>
      <% menu.menu_templates.each do |item| %>
      <tr>
        <td>
        <%= item.name %>
        </td>
      </tr>
      <% end %>
    </table>
</div>