<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>メニューテンプレート一覧</h1>
      <%= link_to "新規作成",  new_admin_event_template_path, class:"btn active" %>
      <table>
      </table>
    </div>
  </div>
</div>