<div class="row">
  <% if my_menu.errors.any? %>
    <div class="error_explanation">
      <h2><%= my_menu.errors.count %>件のエラーがありました。</h2>
      <ul>
        <% my_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>