<div style="margin-right: 20px; width: 70%;">
    <table class="table table-striped table-bordered">
      <% whole_bodys.each do |menu| %>
      <% menu.my_menu_items.each do |item| %>
      <tr>
        <td width="60%">
        <%= item.name %>
        </td>
        <td style="text-align: center;">
          <%= link_to "削除する", customer_my_menu_item_path(item.customer_id, item), class:"btn btn-danger", method: :delete,  "data-confirm" => "本当に削除しますか？" %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </table>
</div>