<% if my_menu.liked_by?(current_customer) %>
  <%= link_to customer_my_menu_my_menu_likes_path(my_menu.customer_id,my_menu), method: :delete, remote: true do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true", style="color: red;"></span>
    <%= my_menu.my_menu_likes.count %> いいね
  <% end %>
<% else %>
  <%= link_to customer_my_menu_my_menu_likes_path(my_menu.customer_id,my_menu), method: :post, remote: true do %>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    <%= my_menu.my_menu_likes.count %> いいね
  <% end %>
<% end %>