/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  padding-top: 50px;
}

 .muscle-main{
  background-image: image-url("IMG_8665.JPG");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
 }

 .start-content{
  text-align: center;
  height: 500px;
  padding: 10px;
 }

 .start-content > start-item{

 }

 .start-item{
  display: flex;
 }

 .navbar{
  margin-bottom: 0px;
 }

 .navbar-nav > li{
  margin-right: 40px;
 }

a.anchor{
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}

.customer-devise-box{
  padding: 50px 0px;
}

.customer-show-content div{
  border-bottom: 1px solid #eee;
  height :100px;
}

.customer-show-item h3{
  line-height: 100px;
}

.password-box{
  text-align: center;
}

.my-menu-item{
  border-bottom: 1px solid #eee;
  height: 100px;
}